{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %} {% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!--link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.8.1/dist/css/foundation.min.css" crossorigin="anonymous"-->
        <!--link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet"-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/footer.css' %}" >


        <!-- foundation-float.min.css: Compressed CSS with legacy Float Grid -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.8.1/dist/css/foundation-float.min.css" crossorigin="anonymous">

        <!-- foundation-prototype.min.css: Compressed CSS with prototyping classes -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.8.1/dist/css/foundation-prototype.min.css" crossorigin="anonymous">

        <!-- foundation-rtl.min.css: Compressed CSS with right-to-left reading direction -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.8.1/dist/css/foundation-rtl.min.css" crossorigin="anonymous">
        
        <link rel="stylesheet" href="{% static 'css/foundation.css' %}">
        <link rel="stylesheet" href="{% static 'css/app.css' %}">
        
    </head>
    
    
    <body>
           

        {% include "header.html" %}
        {% include "sidebar.html" %}
  

     <div  class="container">
       {% block content %}

       {% endblock %}
       {% include "footer.html" %}
      
     </div>
        
    </body>
   
    
    <!--script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.8.1/dist/js/foundation.min.js" crossorigin="anonymous"></script-->
    <script src="{% static 'js/vendor/jquery.js' %}"></script>
    <script src="{% static 'js/vendor/what-input.js' %}"></script>
    <script src="{% static 'js/vendor/foundation.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
</html>